body{
    margin: 0;
    padding: 0;
    background-color: #191919;
}

header{
    background-color: #3b3a3a;
    height: 70px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    font-family: sans-serif;
    justify-content: space-between;
    text-align: center;
}

.textoInicial{
    margin-top: 14px;
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

header .oro{
    color: white;
    margin-right: 13px;
}

header .container{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 10px;
}

header .formularios{
    display: flex;
    flex-direction: row;
    margin-left: -100px;
}

header .formularios form{
    margin:20px;
}

.btnUsuario{
    border: transparent;
    background-color: transparent;
    color: #3498db;
    
}
/* Botones en el header */
header .btn{
    border:0;
    background: none;
    margin: 20px auto;
    text-align: center;
    border: 2px solid rgb(228, 18, 165);
    padding: 14px 10px;
    width: 200px;
    outline: none;
    color: white;
    border-radius: 24px;
    transition: 0.5s;
}

.formulario{
    padding: 40px;
    background-color: #191919;
    text-align: center;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.formulario label{
    margin-right: 20px;
    color: white;
}

.formulario .inputs{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

/* Estilo para el input file de la foto del personaje */
input[type="file"]#fotoPersonaje {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

label[for="fotoPersonaje"] {
    font-size: 14px;
    color: #fff;
    background-color: #3498db;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    display: inline-block;
    transition: all .5s;
    cursor: pointer;
    padding: 15px 40px;
    width: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
}

label[for=fotoPersonaje]:before {
    content: url(../img/upload.png);
    margin-right: 12px;
}
/* Aquí finaliza todo lo relacionado con el estilo del input:file */

.formulario .informacionFormulario{
    display: flex;
    flex-direction: column;
}

.formulario .infoClases{
    border: 2px solid rgb(228, 18, 165);
    padding: 10px;
    color: white;
    width: 500px;
    display: flex;
    flex-direction: column;
}

.formulario .descripcionClases .stats{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.formulario select{
    text-align: center;
    border:0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #3499db;
    padding: 14px 10px;
    width: 100%;
    outline: none;
    color: white;
    border-radius: 24px;
}

.formulario select option{
    background-color: #191919;
}
/* Botones del formulario */
.formulario .btn{
    background: none;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #3499db;
    padding: 14px 10px;
    width: 150px;
    outline: none;
    color: white;
    border-radius: 24px;
    transition: 0.5s;
}

/* Cuando se comienza a introducir datos en uno de los inputs del formulario de .formulario */
.formulario .btn:focus{
    border-color: rgb(228, 18, 165);
}

/* Botón submit del formulario de .formulario */
.formulario .btnSubmit{
    border:0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid rgb(228, 18, 165);
    padding: 14px 40px;
    width: 200px;
    outline: none;
    color: white;
    transition: 0.25s;
}

/* Cuando pasas el botón por encima del botón submit del formulario de.formulario */
.formulario .btnSubmit:hover{
    background-color:rgb(228, 18, 165);
}
