.listaPersonajes{
    display: flex;
    flex-direction: column;
    margin: 30px;
}

.personaje{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom:40px;
}

.fotoPersonaje{
    display: flex;
    flex-direction: column;
    border:2px solid rgb(228, 18, 165);
    height: 286px;
}

.infoPersonaje{
    margin-left: 20px;
    color: white;
}

.infoPersonaje p span{
    color: #3498db;
    font-weight: bold;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.imagenPersonaje{
    height: 286px;
    width: 250px;
}

/* Estilo de la ventana modal de las estadísticas */
.ventanaModal{
    width: 300px;
    background-color: #494747fb;
    opacity: 0.7;
    visibility: hidden;
    position: fixed;
    left: 40%;
    color: white;
}

/* Estilo de cada una de las stats dentro de la ventana */
.ventanaModal .contenedorStats .stats{
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
    align-items: center;
}

.ventanaModal .contenedorStats .stats img{
    margin-right: 10px;
}

.ventanaModal .contenedorStats .stats .textoStat{
    margin-right: 10px;
    font-weight: bold;
}

.ventanaModal .contenedorStats{
    display: flex;
    flex-direction: column;
    margin:20px;
}

.btn{
    border:0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid rgb(228, 18, 165);
    padding: 14px 40px;
    width: 200px;
    outline: none;
    color: white;
    transition: 0.25s;
}

/* Cuando pasas el botón por encima del botón submit del formulario de.formulario */
.btn:hover{
    background-color:rgb(228, 18, 165);
}

.btnBorrar{
    border:0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #3499db;
    padding: 14px 40px;
    width: 200px;
    outline: none;
    color: white;
    transition: 0.25s;
}

/* Cuando pasas el botón por encima del botón submit del formulario de.formulario */
.btnBorrar:hover{
    background-color:#3499db;
}
/* Estilo de la ventana modal de las habilidades */
.ventanaModalHabilidades{
    width: 700px;
    background-color: #494747fb;
    opacity: 0.7;
    visibility: hidden;
    position: fixed;
    left: 30%;
    color: white;
    top: 10%;
}

/* Encabezado de las ventana modal */
.encabezadoVentana{
    display: flex;
    flex-direction: row;
    justify-content:center;
    align-items:center;
    border-bottom: 2px solid #ffffff;
    background-color: #000000;
    height:37px;
}

.encabezadoVentana span{
    color: white;
    font-weight: bold;
}

.ventanaModalHabilidades .contenedorHabilidades{
    display: flex;
    flex-direction: column;
    padding: 10px;
    flex-wrap: wrap;
}

.ventanaModalHabilidades .contenedorHabilidades .nombreHabilidad{
    color: rgb(0, 255, 255);
    margin-right: 10px;
    font-weight: bold;
    width: 90px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
} 

.ventanaModalHabilidades .contenedorHabilidades #tabla{
    border-color: white;
    text-align: center;
}

.pm{
    color: rgb(0, 110, 255);
    margin-right: 5px;
}

.ph{
    color: rgb(17, 212, 17);
    margin-right: 5px;
}

.tituloStats{
    color:#3499db;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

@media (max-width: 768px) {
    header{
        height: 315px;
    }

    header{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }

    header .container img{
        height: 160px;
        width: 190px;
    }

    header .formularios{
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
    }
}

@media (min-width: 768px) and (max-width: 900px){
    header .formularios .btn{
        width: 150px;
    }
}