body{
    margin: 0;
    padding: 0;
    background-color: #191919;
}

/* Encabezado de la página */
header{
    background-color: #3b3a3a;
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: sans-serif;
    text-align: center;
    flex-wrap: nowrap;
}

header .oro{
    color: white;
    margin-right: 13px;
}

p{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

/* Texto que indica con qué usuario se ha iniciado sesión */
header .textoInicial{
    margin-top: 14px;
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

header .container{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 10px;
}

header .formularios{
    width: 500px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
/* Botones en el header */
header .btn{
    border:0;
    background: none;
    margin: 20px auto;
    text-align: center;
    border: 2px solid rgb(228, 18, 165);
    padding: 14px 10px;
    width: 200px;
    outline: none;
    color: white;
    border-radius: 24px;
    transition: 0.5s;
}

.btnUsuario{
    border: transparent;
    background-color: transparent;
    color: #3498db;
    
}

header .oro{
    color: white;
    margin-right: 13px;
}

header .cerrarSesion{
    margin-left: 10px;
    color: white;
    font-size: small;
    display: flex;
    justify-content: center;
    align-items: center;
}

header #cerrarSesion{
    width: 20px;
    height: 20px;
}

.misiones{
    display:flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    margin-left:50px;
    margin-top:30px;
}

.posicionMisiones{
    margin-bottom: 20px;
    display: flex;
    flex-direction: row;
}

.info{
    display: flex;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    justify-content: center;
    height: 200px;
}

.mision{
    margin-bottom: 20px;
    display: flex;
    flex-direction: row;
}

.misiones .imagenesMisiones{
    margin-right: 20px;
}

.tituloMision{
    color:rgb(228, 18, 165);
    margin-left: 70px;
}

.nombreMision{
    color:rgb(228, 18, 165);
}

.fin{
    display: flex;
    flex-direction: row;
}

.btn{
    border:0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid rgb(228, 18, 165);
    padding: 14px 40px;
    width: 200px;
    outline: none;
    color: white;
    transition: 0.25s;
}

/* Cuando pasas el botón por encima del botón submit del formulario de.formulario */
.btn:hover{
    background-color:rgb(228, 18, 165);
}

.ventanaModal{
    width: 300px;
    background-color: #494747fb;
    opacity: 0.7;
    visibility: hidden;
    position: fixed;
    left: 40%;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.ventanaModal .encabezadoVentanaModal{
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    align-items:center;
    border-bottom: 2px solid #ffffff;
    background-color: #000000;
    height:37px;
    width: 100%;
    font-size: medium;
    font-weight: bold;
}

.containerMision{
    display: flex;
    flex-direction: column;
}

select{
    text-align: center;
    border:0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #3499db;
    padding: 14px 10px;
    width: 100%;
    outline: none;
    color: white;
    border-radius: 24px;
}

select option{
    background-color: #191919;
}

.btnAzul{
    border:0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #3499db;
    padding: 14px 40px;
    width: 200px;
    outline: none;
    color: white;
    transition: 0.25s;
}

.btnAzul:hover{
    background-color:#3499db;
}

.mision .info .dificultad{
    display:flex;
    flex-wrap: wrap;
}

@media (max-width: 650px) {
    header{
        height: 300px;
    }

    header{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }

    header .container img{
        height: 160px;
        width: 190px;
    }
}