body{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.marcoHistoria{
    width: 600px;
    height: 360px;
    background: #000;
    opacity: 0.6;
    margin-top: 10%;
    border: 2px solid white;
    color: white;
}

.contenedorPrincipal{
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: flex-end;
}

.btnNegro{
    border:0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid black;
    padding: 14px 40px;
    width: 200px;
    outline: none;
    color: black;
    transition: 0.25s;
}

.btnNegro:hover{
    background-color:black;
    color: white;
}

.recompensa{
    margin-top:20px;
    display:flex;
    justify-content:center;
    flex-direction:column;
    align-items:center;
}

.recompensa b{
    color:#3499db;
    margin-right:10px;
}

@media (max-width: 768px) {
    .contenedorPrincipal form{
        margin: 0 auto;
    }

    .marcoHistoria{
        width:80vw;
    }
}

